MVCPractice.Main/bin
MVCPractice.Main/obj
MVCPractice.Data/bin
MVCPractice.Data/obj
MVCPractice.Models/bin
MVCPractice.Models/obj
MVCPractice.Main/Properties
appsettings.Development.json
appsettings.json
MVCPractice.csproj
.vscode
er.name